/* body{
  width:75%;
 
} */

header{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
header h1{
font-family: 'Pacifico', cursive;
display: inline;
margin: 10px;
font-size: 30px;
}
header img:only-of-type{
float: left;
margin-top: 10px;
margin-left: 10px;

}
header span{
font-family: 'Rajdhani', sans-serif;
position: absolute;
margin-left: -120px;
margin-top: 40px;


}

.SocialMedia{
    float: right;
    margin: 1px;
    margin-top: 40px;
}

.SocialMedia:nth-of-type(2){
    margin-left: 10px;
}

.upperline{
  width: 100%;
  height: 15px;
  background-image:url(./images/hr-img.png);
  background-repeat: repeat;
  margin-top: 40px;
}


div h2{
    font-family: 'Racing Sans One', cursive;
    font-size: 50px;
    display: block;
    margin-top: 50px;
    margin-left: 10px;
}
div span{
    font-family: 'Rajdhani', sans-serif; 
   position: absolute;
  margin-left: 15px;
  

}
#chocopizza{
    display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
}
#print{
    float: right;
    margin-right: 30px;
   width: 20px;
}

.recipe{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    padding: 10px;
  text-align:center;
}

section{
    background-image: url(./images/list-bg.png);
    background-repeat: no-repeat;
   background-size: cover;
    height: 300px;
}
.secPart{
  float: right;
}

.firstPart label{
  display: block;
  position: relative;
  left: 70px;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
  color: DimGrey;
}


.secPart label{
  display: block;
  position: relative;
  top: -283px;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
  color: DimGrey;
  transition-duration : .5s;
   transition-property: text;
}

.secPart input{
  position:relative;
  top: -258px;
  left: -30px;
  
}

.firstPart input{
  position:relative;
  top: 25px;
  left: 40px;
  
}

input[type="checkbox"]:checked ~ label{
  text-decoration-line: line-through;
}










.lowerline{
  width: 100%;
  height: 15px;
  background-image:url(./images/hr-img.png);
  background-repeat: repeat;
  margin-top: 40px; 
  margin-bottom: 30px;
}
 div h3{
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
    display: block;
    margin-top: 50px;
    margin-left: 10px;
 }
  #van{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
  }
  button{
        color: white;
        background-color: Sienna;
       margin-right: -220px;
        float: right;
        cursor: pointer;
        height: 50px;
        width: 200px;
        
  }
  #vansName{
    display: inline;
    margin: 10px;
    font-size: 30px;
  }
  #vansProf{
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    margin-left: 90px;
    margin-top: -10px;  
    margin-bottom: 20px; 
    font-size: 25px;
  }


#logo{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-left: 650px;

}
footer p{
    text-align: center;
  position: relative;
  right: -110px;
  padding-top: 20px;
  padding-bottom: 10px;
    color: gray;

 
}
